<html><a href = "https://github.com/praveen9663/Cognixia_Training/blob/master/automobile.csv">DataSet Location</a> 

<font color = "Blue">**Split your data into train (80%) and test (20%) data, and separe the dependent variables of the independent
variables** </font>
</html>

<font color = "brown">
    
1. Split the original data into train and test datasets
2. Separate your dependent variable of the training data
3. Separate your dependent variable of the test data
4. Train and execute your model
5. Create the linear regression object
6. Train the model using the training sets
7. Make predictions using the testing set
8. Assess the performance of your model
9. Print the R-Squared of your model
10. print the comparison between the prediction of the model and the actual data
</font>

In [1]:
import pandas as pd
import numpy as np

In [322]:
data = pd.read_csv("C:/Users/prave/OneDrive/Cognixia/MachineLearning/data/automobile.csv" , header= None)
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

---

# Data analysis

In [323]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       205 non-null    int64
 1   1       205 non-null    object
 2   2       205 non-null    object
 3   3       205 non-null    object
 4   4       205 non-null    object
 5   5       205 non-null    object
 6   6       205 non-null    object
 7   7       205 non-null    object
 8   8       205 non-null    object
 9   9       205 non-null    float64
 10  10      205 non-null    float64
 11  11      205 non-null    float64
 12  12      205 non-null    float64
 13  13      205 non-null    int64
 14  14      205 non-null    object
 15  15      205 non-null    object
 16  16      205 non-null    int64
 17  17      205 non-null    object
 18  18      205 non-null    object
 19  19      205 non-null    object
 20  20      205 non-null    float64
 21  21      205 non-null    object
 22  22      205 non-null    object
 23  23      205 non-null    int64
 24  24      205 non-null    int64
 25  25      205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [324]:
data.replace("?" , np.NaN , inplace= True)

In [325]:
feature_names = ["symboling" , "normalized-losses" , "make" , "fuel-type" , "aspiration" , "num-of-doors" , "body-style" , 
                "drive-wheels" , "engine-location" , "wheel-base" , "length" , "width", "height", "curb-weight" , "engine-type",
                "num-of-cylinders", "engine-size" , "fuel-system" , "bore" , "stroke" , "compression-ratio" , "horsepower" , 
                "peak-rpm" , "city-mpg" , "highway-mpg" , "price"]

In [326]:
data.columns = feature_names

In [327]:
data.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [328]:
data.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [329]:
data.reset_index(inplace= True)

In [330]:
data.drop(["index" ,"normalized-losses"], axis= 1 , inplace= True)

In [331]:
data.columns

Index(['symboling', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [332]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   make               205 non-null    object
 2   fuel-type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num-of-doors       203 non-null    object
 5   body-style         205 non-null    object
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   wheel-base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb-weight        205 non-null    int64
 13  engine-type        205 non-null    object
 14  num-of-cylinders   205 non-null    object
 15  engine-size        205 non-null    int64
 16  fuel-system        205 non-null    object
 17  bore               201 non-null    object
 18  stroke             201 non-null    object
 19  compression-ratio  205 non-null    float64
 20  horsepower         203 non-null    object
 21  peak-rpm           203 non-null    object
 22  city-mpg           205 non-null    int64
 23  highway-mpg        205 non-null    int64
 24  price              201 non-null    object
dtypes: float64(5), int64(5), object(15)
memory usage: 40.2+ KB

### Deal with missing data

In [333]:
data.columns

Index(['symboling', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [334]:
pd.unique(data["num-of-doors"])

array(['two', 'four', nan], dtype=object)

In [335]:
pd.unique(data["fuel-type"])

array(['gas', 'diesel'], dtype=object)

In [336]:
pd.unique(data["make"])

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [337]:
pd.unique(data["aspiration"])

array(['std', 'turbo'], dtype=object)

In [338]:
pd.unique(data["body-style"])

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [339]:
pd.unique(data["drive-wheels"])

array(['rwd', 'fwd', '4wd'], dtype=object)

In [340]:
pd.unique(data["engine-location"])

array(['front', 'rear'], dtype=object)

In [341]:
pd.unique(data["fuel-system"])

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [342]:
data.drop(["symboling"] , axis = 1 ,inplace = True)

In [343]:
data.columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width',
       'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [344]:
data.dropna(inplace= True)

In [345]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 204
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               193 non-null    object
 1   fuel-type          193 non-null    object
 2   aspiration         193 non-null    object
 3   num-of-doors       193 non-null    object
 4   body-style         193 non-null    object
 5   drive-wheels       193 non-null    object
 6   engine-location    193 non-null    object
 7   wheel-base         193 non-null    float64
 8   length             193 non-null    float64
 9   width              193 non-null    float64
 10  height             193 non-null    float64
 11  curb-weight        193 non-null    int64
 12  engine-type        193 non-null    object
 13  num-of-cylinders   193 non-null    object
 14  engine-size        193 non-null    int64
 15  fuel-system        193 non-null    object
 16  bore               193 non-null    object
 17  stroke             193 non-null    object
 18  compression-ratio  193 non-null    float64
 19  horsepower         193 non-null    object
 20  peak-rpm           193 non-null    object
 21  city-mpg           193 non-null    int64
 22  highway-mpg        193 non-null    int64
 23  price              193 non-null    object
dtypes: float64(5), int64(4), object(15)
memory usage: 37.7+ KB

## <font color = "Green"> now handelling categorical data using LabelEncoder </font>

In [346]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [347]:
data["fuel-type"] = le.fit_transform(data["fuel-type" ])

In [348]:
data["aspiration"] = le.fit_transform(data["aspiration"])

In [349]:
data["body-style"] = le.fit_transform(data["body-style"])

In [350]:
data["engine-location"] = le.fit_transform(data["engine-location"])

In [351]:
data["fuel-system"] = le.fit_transform(data["fuel-system"])

In [352]:
data["num-of-doors"] = le.fit_transform(data["num-of-doors"])

In [353]:
data["make"] = le.fit_transform(data["make"])

In [354]:
data["drive-wheels"] = le.fit_transform(data["drive-wheels"])

In [355]:
data["engine-type"] = le.fit_transform(data["engine-type"])

In [356]:
data["num-of-cylinders"] = le.fit_transform(data["num-of-cylinders"])

In [357]:
data.head(10)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,13495
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,16500
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,152,4,2.68,3.47,9.0,154,5000,19,26,16500
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,109,4,3.19,3.40,10.0,102,5500,24,30,13950
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,136,4,3.19,3.40,8.0,115,5500,18,22,17450
5,1,1,0,1,3,1,0,99.8,177.3,66.3,...,136,4,3.19,3.40,8.5,110,5500,19,25,15250
6,1,1,0,0,3,1,0,105.8,192.7,71.4,...,136,4,3.19,3.40,8.5,110,5500,19,25,17710
7,1,1,0,0,4,1,0,105.8,192.7,71.4,...,136,4,3.19,3.40,8.5,110,5500,19,25,18920
8,1,1,1,0,3,1,0,105.8,192.7,71.4,...,131,4,3.13,3.40,8.3,140,5500,17,20,23875
10,2,1,0,1,3,2,0,101.2,176.8,64.8,...,108,4,3.50,2.80,8.8,101,5800,23,29,16430

In [358]:
data.dtypes

make                   int32
fuel-type              int32
aspiration             int32
num-of-doors           int32
body-style             int32
drive-wheels           int32
engine-location        int32
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int32
num-of-cylinders       int32
engine-size            int64
fuel-system            int32
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

# **Creating Model**

In [359]:
X = data.iloc[: , :-1].values

In [360]:
y = data.iloc[: , -1].values

In [361]:
print(X.shape , y.shape)

(193, 23) (193,)

In [362]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test = train_test_split(X , y , test_size = 0.2 , random_state = 10)

In [363]:
print(len(X_train) , len(X_test))

154 39

In [364]:
print(len(y_train) , len(y_test))

154 39

In [365]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [366]:
print(type(X_train), type(y_train))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [367]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [368]:
y_pred = reg.predict(X_test)

In [369]:
y_pred

array([18063.95292662, 14781.76904976, 16460.99336983, 26859.80982603,
       16269.46592015,  8431.93175117, 11430.23165355,  7458.78384479,
       16827.57402188,  6513.04800245, 12976.88980567, 10127.05214259,
       33905.63692958, 13468.89211511,  8885.96506361, 16630.69122705,
        7021.65436946,  5841.32709261, 15250.33579341, 16485.76849457,
       11197.73176413, 12294.1758891 ,  8335.96130723,  9502.09418494,
        6029.61058266, 16480.34274914, 19589.36263754,  9419.01418111,
        5642.95299416, 15370.51476243, 13444.75470712,  7065.43841871,
       20525.93532259,  9429.48595457,  5999.48221744, 11824.10563072,
       30966.92270821, 16316.43168849, 21135.93569762])

In [370]:
y_test

array(['17199', '16925', '15250', '28248', '22018', '6575', '8949',
       '6095', '16500', '7198', '8449', '7895', '37028', '11850', '7975',
       '18280', '5572', '8358', '11900', '22470', '12945', '8495', '7689',
       '7788', '9233', '16500', '17075', '9960', '8238', '14489', '12170',
       '7463', '13200', '6989', '6938', '9279', '35056', '13415', '18920'],
      dtype=object)

In [371]:
reg.score(X_test , y_test)

0.8620961564157575